#search-form {
	max-width:800px;
	width:80%;
}

.container {
	padding-top:30px;
	max-width: 925px;
	width: 90%;
	height: 1000px;
}

.navbar {
	width:80%;
	margin: 0 auto;
	background-color: #dfd7ca;
}

.nav-container {
	background-color: #dfd7ca;
}

.nav {
	background-color: #dfd7ca;
}

#nav-1 {
	padding-left: 40px;
}

.nav-item {
	padding-left: 15px;
}

body {
	background-image: url("../imgs/explore.jpg");
	background-repeat:no-repeat;
  background-size: cover;
}
