#search-form {
	max-width:800px;
	width:80%;
}

.container {
	padding-top:30px;
	max-width: 925px;
	width: 90%;
	height: 1000px;
}

.tag-group {
	margin-top: 30px;
}

.tag {
	border-radius: 20px;
	margin-right: 10px;
}
