.container {
	padding-top:30px;

}

#credentials {
	max-width: 350px;
	width: 80%;
	border: 1px solid #ededed;
	padding: 30px 30px 10px 30px;
	margin-top: 20px;
	float:right;
	background-color: #f7f7f7;
}

.credentials-btn{
	float:right;
	margin-top: 10px;
	margin-bottom: 15px;
}

.field {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar {
	width:80%;
	margin: 0 auto;
}

.nav-container {
	background-color: #f7f7f7;
}

#nav-1 {
	padding-left: 40px;
}

.nav-item {
	padding-left: 15px;
}
