h4 {
	padding-top: 25px;
}

#recipe {
  margin: 0 auto;
	max-width: 550px;
	width: 80%;
	border: 1px solid #ededed;
	padding: 10px 30px 10px 30px;
	margin-top: 20px;
	background-color: #f7f7f7;
	margin-bottom: 50px;
}

.form-btn {
	float:right;
	margin-top: 10px;
	margin-bottom: 15px;
}

#text-input {
	width: 100%;
	height: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	background-color: #fff;
  border: 1px solid #ccc;
	border-radius: 4px;
}

.form-group{
	margin-top: 10px;
	border: 1px solid #ccc;
	background-color: white;
	width: 100%;
	padding: 5px;
	border-radius: 5px;

}

.form-check-input{
	margin-left: 17px;

}

.form-check-label {
	margin-left: 18px;
}
