h4 {
	padding-top: 15px;
}

/*
.container {
	padding-top:30px;

}
*/

#recipe {
  margin: 0 auto;
	max-width: 550px;
	width: 80%;
	border: 1px solid #ededed;
	padding: 30px 30px 10px 30px;
	margin-top: 20px;
	background-color: #f7f7f7;
}

.form-btn {
	float:right;
	margin-top: 10px;
	margin-bottom: 15px;
}

/*
.field {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
*/

#text-input {
	width: 100%;
	height: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 10px;
}

/*
.navbar {
	width:80%;
	margin: 0 auto;
	background-color: #dfd7ca;
}

.nav-container {
	background-color: #dfd7ca;
}

.nav {
	background-color: #dfd7ca;
}

#nav-1 {
	padding-left: 40px;
}

.nav-item {
	padding-left: 15px;
}

*/
