.recipe-item {
	margin-top: 25px;
	border: 1px solid #dfd7ca;
	padding: 15px;
	border-radius: 5px;
}

h1, h2 {
	color: #cec5b5 !important;
	font-weight: 600;
}

.user {
	font-size: 1.1em;
}

#signout {
	background-blend-mode: color;
	background-color: none;
	border-radius: 8px;
	padding: 0px 12px 0px 12px;
}
